.container {
  margin-top: 1.2rem;
}

.player {
  height: 500px;
}

@media screen and (max-width: 30rem) {
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.2em;
  }
  .container {
    margin-top: 0.25rem;
  }
  .player {
    height: 200px;
  }
}
